<!DOCTYPE html>
	<html xmlns="http//www.w3.org/1999/xhtml"
	      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>ColluraCode</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" href="css/style.css"/>	
	</head>	
	<body>
		<!-- NAVBAR -->
		<nav class="navbar navbar-dark bg-dark">
		  <a class="navbar-brand" href="/">
		    <img src="https://camo.githubusercontent.com/76e4a36bd7d4f91b2db35261c5a5ef4a7e1e9545/68747470733a2f2f737072696e672e696f2f696d672f686f6d65706167652f69636f6e2d737072696e672d636c6f75642d646174612d666c6f772e737667" width="30" height="30" class="d-inline-block align-top" alt="">
		   ColluraCode
		  </a>
		</nav>			
		<!-- CARD -->
		<div class="row mt-4 justify-content-center">
 		  <div class="col-sm-11">
 		  	<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(message)}" >
		  		Salvo com sucesso !
			</div>
			<div class="card mx-auto">
			   <div class="font-weight-bold card-header">
				  <div class="row">
				  	  <div class="col-sm-11 mt-2">
					    Cadastrar Título
					  </div>
					    <a href="/"class="col-sm-1 card-link text-primary">Voltar</a>					 
					  </div>
				  </div>				
			   <div class="card-body">
			   <form action="/titulos"  method="POST">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Descrição</label>
				    <input type="text" name="descricao" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Valor</label>
				    <input type="number" name="valor" class="form-control" id="exampleInputPassword1">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Data de Vencimento</label>
				    <input type="date" name="data" class="form-control" id="exampleInputPassword1">
				  </div>
				  <div class="form-group">
					<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Status</label>
					<select name="status" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
					    <option selected value="PENDENTE">Pendente</option>
					    <option value="RECEBIDO">Pago</option>
					</select>
				  </div>				 
				  <button type="submit" class="btn btn-success">Salvar</button>
				</form>
			  </div>		
			</div>
		   <br>
		</div>
		</div>
	   					   						   				  				   							  	  		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>