<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/style.css"/>	
</head>
<body>

	<!-- Image and text -->
	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">
	    <img src="https://camo.githubusercontent.com/76e4a36bd7d4f91b2db35261c5a5ef4a7e1e9545/68747470733a2f2f737072696e672e696f2f696d672f686f6d65706167652f69636f6e2d737072696e672d636c6f75642d646174612d666c6f772e737667" width="30" height="30" class="d-inline-block align-top" alt="">
	   ColluraCode
	  </a>
	</nav>	
	
	<a href="/titulos/novo" class="btn btn-info" role="button">Link Button</a>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
</body>
</html>